<div class="contenedor">

    <form class="myform" [formGroup]="myFormGroup" (ngSubmit)="editProfile()">

        <div style="display: flex; justify-content: center;">
            <img src="{{ participant.urlImg }}" alt="" class="imgRedonda">
        </div>

        <div class="form-row">
            <div class="col">
                <label class="mylabel">Name :</label>
                <input type="text" class="form-control" placeholder="name" formControlName="name">
            </div>
            <div class="col">
                <label class="mylabel">Email :</label>
                <input type="text" class="form-control" placeholder="email" formControlName="email">
            </div>
            <div class="col">
                <label class="mylabel">Image :</label>
                <input type="text" class="form-control" placeholder="url" formControlName="urlImg">
            </div>
        </div>

        <div class=" form-row">
            <div class="col">
                <label class="mylabel">Center :</label>
                <input type="text" class="form-control" placeholder="center" formControlName="center">
            </div>
            <div class=" col">
                <label class="mylabel">Age :</label>
                <input type="text" class="form-control" placeholder="age" formControlName="age">
            </div>
            <div class="col">
                <label class="mylabel">Phone :</label>
                <input type="text" class="form-control" placeholder="phone" formControlName="phone">
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <label class="mylabel">Street :</label>
                <input type="text" class="form-control" placeholder="Street" formControlName="street">
            </div>
            <div class="col">
                <label class="mylabel">Postal Code :</label>
                <input type="text" class="form-control" placeholder="postal code" formControlName="postalCode">
            </div>
            <div class="col">
                <label class="mylabel">City :</label>
                <input type="text" class="form-control" placeholder="city" formControlName="city">
            </div>
            <div class="col">
                <label class="mylabel">Province :</label>
                <input type="text" class="form-control" placeholder="province" formControlName="province">
            </div>
        </div>

        <div class="form-row">
            <button class="btn-success mybutton">Edit</button>
        </div>

    </form>

</div>