.myform {
    border-radius: 10px;;
    min-width: 1000px;
    padding: 20px;
}

.myform div {
    margin: 10px;
}

.mylabel{
    color: black;
    font-size: 16px;
}

.contenedor {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgRedonda {
    width:200px;
    height:200px;
    border-radius:150px;
    // border: 3px solid black;
}

.mybutton {
    background: linear-gradient(10deg, #3399ff, #cc66ff);
    padding: 10px;
    width: 500px;
    margin: auto;
    font-size: 20px;
    border-radius: 15px;
    color: black;
}