<div class="contenedor">
    <form class="myform">
        <h2 for="formGroupExampleInput" style="color: #cc66ff;  font-weight: bold; text-align: center;">PROFILE</h2>
        <input type="hidden" value="{{participant.id}}">

        <div class="form-row">
            <div class="col">
                <label for="formGroupExampleInput" class="mylabel">Name :</label>
                <input type="text" class="form-control" value="{{participant.name}}" placeholder="name">
            </div>
            <div class="col">
                <label for="formGroupExampleInput" class="mylabel">Email :</label>
                <input type="text" class="form-control" placeholder="email" value="{{participant.email}}">
            </div>
            <div class="col">
                <label for="formGroupExampleInput" class="mylabel">Age :</label>
                <input type="text" class="form-control" placeholder="age" value="{{participant.age}}">
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <label for="formGroupExampleInput" class="mylabel">Center</label>
                <input type="text" class="form-control" placeholder="center">
            </div>
            <div class="col">
                <label for="formGroupExampleInput" class="mylabel">Example label</label>
                <input type="text" class="form-control" placeholder="Last name">
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <h2 for="formGroupExampleInput" style="color: #cc66ff;  font-weight: bold; text-align: center;">ADDRESS
                </h2>
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <label for="formGroupExampleInput" class="mylabel">Street</label>
                <input type="text" class="form-control" placeholder="Street" value="{{participant.address.street}}">
            </div>
            <div class="col">
                <label for="formGroupExampleInput" class="mylabel">Postal Code</label>
                <input type="text" class="form-control" placeholder="postal code">
            </div>
            <div class="col">
                <label for="formGroupExampleInput" class="mylabel">City</label>
                <input type="text" class="form-control" placeholder="city">
            </div>
            <div class="col">
                <label for="formGroupExampleInput" class="mylabel">Province</label>
                <input type="text" class="form-control" placeholder="province">
            </div>
        </div>

        <div class="form-row">
            <button class="form-control btn btn-primary">Edit</button>
        </div>

    </form>
</div>