.myform {
    border-radius: 10px;;
    min-width: 1000px;
    padding: 20px;
}

.myform div {
    margin: 10px;
}

.myImg {
    max-width: 200px;
}

.mylabel{
    color: black;
    font-size: 16px;
}

.contenedor {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}