* {
    font-family: monospace;
    font-weight: bold;
}

header {
    background-color: rgb(255,67,92);
    width: 100%;
    display: flex;
    height: auto;
    align-items: baseline;
}

header div {
    height: 100%;
    margin: 10px;
}

header div button {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}