table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.my-btn {
  background: transparent;
  border: 1px solid white;
  margin: 10px;
}

.my-btn:hover {
  background: #ffe6ff;
  border: 1px solid #660066;
  border-radius: 30%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  margin-left: 3%;
  margin-right: 3%;
  max-width: 95%;
}

.mytable{
  max-width: 95%;
  margin-left: 3%;
  margin-right: 3%;
  width: 100%;
}